<html>
    <head>
        <meta charset="UTF-8" />
        <title>ATM Points Bundle</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="keywords" content="{% block keywords %}{% endblock %}">
        <meta name="Distribution" content="Global" />
        <meta name="Rating" content="Mature" />
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <link rel="stylesheet" href="{{ asset('bundles/atmpoints/css/reset.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('bundles/atmpoints/css/css.css') }}?{{ 'now'|date('U') }}" type="text/css"/>

        {% block atmpoints_jquery %}
            <script src="{{ asset('bundles/atmpoints/js/jquery-1112.js') }}"></script>
        {% endblock atmpoints_jquery %}

        <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

        {% block atmpoints_stylesheets %}{% endblock atmpoints_stylesheets %}

        {% block atmpoints_headingJS %}{% endblock atmpoints_headingJS %}
    </head>
    <body>

    {% block atmpoints_content %}{% endblock atmpoints_content %}

    {% block atmpoints_popups %}{% endblock atmpoints_popups %}

    {% block atmpoints_javascripts %}{% endblock atmpoints_javascripts %}
    </body>
</html>
