{% extends 'ATMPointsBundle:Admin:base.html.twig' %}

{% block atmpoints_stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/atmpoints/css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/atmpoints/css/popup.css') }}" type="text/css"/>
    <style>
        .current .highlight{background: rgb(196, 229, 255) !important;}
    </style>
{% endblock atmpoints_stylesheets %}

{% block atmpoints_content %}
<div class="inner">
    <div class="wide">
        <div class="selectC">
            <select id="slcGirls" style="border: 1px solid #e2e2e2;float:left;padding: 5px;">
                <option value="">Select a user</option>
                {% for user in users %}
                    {% set selected = '' %}
                    {% if userId == user.id %}
                        {% set selected = 'selected' %}
                    {% endif %}
                    <option value="{{ user.id }}" {{ selected | raw }}>{{ user.username }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="wide">
            <a id="btnAddPoints">
                <i class="fa fa-plus"></i>
                Add Points
            </a>
        </div>
        <div class="stats sales">
            <h2 class="block_title">
                <span>Gallery Points</span>
            </h2>
            <div  id="galleryPointsContainer">
                {% render(controller('ATMPointsBundle:Points:galleriesTable',{
                    'page':1,
                    'userId':userId
                })) %}
            </div>
        </div>
        <div class="stats sales">
            <h2 class="block_title">
                <span>Video Points</span>
            </h2>
            <div id="videoPointsContainer">
                {% render(controller('ATMPointsBundle:Points:videosTable',{
                    'page':1,
                    'userId':userId
                })) %}
            </div>
        </div>
        <div class="stats sales">
            <h2 class="block_title">
                <span>Fields Points</span>
            </h2>
            <div id="fieldsPointsContainer">
                {% render(controller('ATMPointsBundle:Points:fieldsTable',{
                    'page':1,
                    'userId':userId
                })) %}
            </div>
        </div>
    </div>
</div>
{% endblock atmpoints_content %}

{% block atmpoints_popups %}
<div class="popup text" id="popupAddPoints" style="display:none">
    <div class="order_bikini login" style="position:relative">
        <h1>Add Points</h1>
        <form action="{{ path('atm_points_submit_add_points') }}" method="post">
            <div class="selectC">
                <select id="slcGirlsPopup" name="girlId" style="border: 1px solid #e2e2e2;float:left;padding: 5px;">
                    <option value="">Select a user</option>
                    {% for user in users %}
                        <option value="{{ user.id }}">{{ user.username }}</option>
                    {% endfor %}
                </select>
            </div>
            <br><br>
            <div class="selectC">
                <select id="slcGalleries" name="galleryId" style="border: 1px solid #e2e2e2;float:left;padding: 5px;">
                    <option value="">Select a gallery</option>
                </select>
            </div>
            <span>OR</span>
            <div class="selectC">
                <select id="slcVideos" name="videoId" style="border: 1px solid #e2e2e2;float:left;padding: 5px;">
                    <option value="">Select a video</option>
                </select>
            </div>
            <div class="center">
                <input type="text" id="points" name="points" placeholder="Points to add" />
            </div>
            <div class="center">
                <input type="text" id="date" name="date" placeholder="Put a date" />
            </div>
            <div class="center">
                <input class="but" type="submit" id="submit" name="submit" value="Submit" id="bntSubmitPoints">
                <a class="but" id="btnCancelPoints">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock atmpoints_popups %}

{% block atmpoints_javascripts %}
    <script src="{{ asset('bundles/atmpoints/js/jquery.box.js') }}"></script>
    <script src="{{ asset('bundles/atmpoints/js/jquery-ui.min.1121.js') }}"></script>
    <script>
        $('#btnAddPoints').click(function(e){
            e.preventDefault();

            $.box({
                'container': '#popupAddPoints',
                'closeBox': ['#btnCancelPoints']
            });
        });

        $('#slcGirlsPopup').change(function(){
            var userId = $(this).val();

            $.ajax({
                url: Routing.generate('atm_points_get_user_media',{ 'userId': userId}),
                type: 'post',
                dataType: 'json',
                success: function(data){
                    $('#slcGalleries').append(data.galleries);
                    $('#slcVideos').append(data.videos);
                }
            });
        });

        $('#slcGalleries').change(function(){
            var value = $(this).val();

            if(value != ''){
                $('#slcVideos').val('');
            }
        });

        $('#slcVideos').change(function(){
            var value = $(this).val();

            if(value != ''){
                $('#slcGalleries').val('');
            }
        });

        $("#date").datepicker({
            dateFormat: 'dd-mm-yy'
        });

        $('#slcGirls').change(function(){
           var girlId = $(this).val();
            window.location.href = Routing.generate('atm_points_admin_index',{ 'userId': girlId });
        });

        $('#galleryPointsContainer').on('click','.pageBtn',function(){
            var page = $(this).attr('data-page');
            var girlId = $('#slcGirls').val();

            $.ajax({
                url: Routing.generate('atm_points_paginate_galleries',{'page':page,'userId':girlId}),
                type: 'post',
                dataType: 'html',
                success: function(data){
                    $('#galleryPointsContainer').html(data);
                }
            });
        });

        $('#videoPointsContainer').on('click','.pageBtn',function(){
            var page = $(this).attr('data-page');
            var girlId = $('#slcGirls').val();

            $.ajax({
                url: Routing.generate('atm_points_paginate_videos',{'page':page,'userId':girlId}),
                type: 'post',
                dataType: 'html',
                success: function(data){
                    $('#videoPointsContainer').html(data);
                }
            });
        });

        $('#fieldsPointsContainer').on('click','.pageBtn',function(){
            var page = $(this).attr('data-page');
            var girlId = $('#slcGirls').val();

            $.ajax({
                url: Routing.generate('atm_points_paginate_fields',{'page':page,'userId':girlId}),
                type: 'post',
                dataType: 'html',
                success: function(data){
                    $('#fieldsPointsContainer').html(data);
                }
            });
        });

        $('#galleryPointsContainer,#videoPointsContainer,#fieldsPointsContainer').on('click','.deletePoints',function(e){
            e.preventDefault();
            var btn = $(this);
            var pointsId = btn.attr('data-id');

            $.ajax({
                url: Routing.generate('atm_points_delete',{'id':pointsId}),
                type: 'post',
                success: function(){
                    btn.parent().parent().remove();
                }
            });
        });
    </script>
{% endblock atmpoints_javascripts %}