<table style="width:100%">
    <thead>
    <tr>
        <th style="font-weight: bold;padding-bottom:15px;text-align: center">
            Date
        </th>
        <th style="font-weight: bold;padding-bottom:15px;text-align: center">
            User
        </th>
        <th style="font-weight: bold;padding-bottom:15px;text-align: center">
            Gallery
        </th>
        <th style="font-weight: bold;padding-bottom:15px;text-align: center">
            Points
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for point in points %}
        <tr>
            <td style="width: 10%">
                {{ point.creationdate | date('d-m-Y') }}
            </td>
            <td class="user">
                <div style="width:100%">
                    {{ point.user.username }}
                </div>
            </td>
            <td class="user">
                {% if point.imageGallery %}
                    {{ point.imageGallery.title }}
                {% endif %}
            </td>
            <td>
                {{ point.points }}
            </td>
            <td>
                <a class="deletePoints" data-id="{{ point.id }}">
                    Delete
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% if pagination %}
<div class="navigation" style="margin-bottom: 20px;">
    {{ knp_pagination_render(pagination,'ATMPointsBundle:Admin:galleriesTable/pagination.html.twig') }}
</div>
{% endif %}