
.selectC {position: relative;display: inline-block;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;-khtml-border-radius: 4px;border: 1px solid #ccc;width: auto;font: 500 12px/22px Open Sans, Arial, sans-serif;cursor: pointer;position: relative}
.selectC select {display: inline-block;border: 0;background: none;color: #000;padding: 6px 37px 7px 8px;z-index: 2;position: relative;font-size: 12px;cursor: pointer;line-height: 14px;white-space: nowrap;font-family: Quicksand, Arial, sans-serif;}
.selectC::before {z-index: 1;content: "";width: 25px;height: 27px;position: absolute;right: 0;top: 0;background: url(../images/caret_down.svg) no-repeat center center;border-left: 1px solid rgba(0, 0, 0, 0.31);background-size: 12px}

.inner {float:none;width:100%;margin: 0 auto 0;position:relative;display:inline-block;padding: 0;z-index: 1;max-width: 1100px}
.inner.wide{max-width:none;width:100%;background: #efd0d0;text-align: left;position: relative;z-index: 0;}
.inner.wide .wide{max-width:1100px;margin:0 auto}
.inner.wide .narrow{max-width:1000px;margin:0 auto}
.inner.wide.bg::before{width:100%;height:100%;content:"";position:absolute;top:0;left:0;z-index:0;opacity:.5;background:#310515}
.inner.wide.bg .half{position:relative;top: 50%;transform: translateY(-50%)}
.inner.wide.gray{background: #f5f0ea;position:relative;padding: 38px 0 60px}
.inner.wide.gray::before{content:"";width:50%;height:100%;background:#484848;position:absolute;top:0;left:0;display:none}

.stats{border-radius:5px;border:1px solid #ccc;float:left;width: 98%;padding:0;margin: 30px 1%;min-height: 80px}
.stats h2.block_title{margin: -15px 0 10px}
.stats h2.block_title span{color:#2196f3;background: #f7f5f3}
.stats .selectC{margin-right:20px;background: #f7f5f3;float: right}
.stats p{width: 96%;margin:0 2%;font-size: 14px}
.stats table{margin: 0;width:100%;padding: 15px 20px 25px;font-size: 14px;border-collapse: separate}
.stats table thead th{background: #cccccc;padding: 10px;text-align: center;color: #000;font-family: QuicksandBold, Arial, sans-serif}
.stats table td{padding:10px;text-align: center}
.stats table tbody tr:nth-child(2n){background: #fff}
.stats table tfoot td{font-family: QuicksandBold, Arial, sans-serif;background:#c4e5ff;color: rgba(0, 0, 0, 0.68)}
.stats table .left{text-align:left;padding-left:40px;width:100%}
.stats .navigation{margin:0 0 -25px;z-index:1}
.stats table td.user a{text-decoration:underline;text-overflow: ellipsis;white-space: nowrap;overflow: hidden}
.stats table td.user .half:first-child a{float:right}
.stats table td.user .half:first-child{text-align:right}
.stats table td.user a.love, .stats table td.user span.disabled{text-decoration:none;background:#e2e2e2;border-radius:5px;padding:0 6px;margin:0 0 0 9px;font-size: 12px}
.stats table td.user a.love:hover{background:#333;color:#FFF}
.stats table td.user span.disabled{background:#ff558f;color:#fff;float:left}
.stats table td.user a.love.done, .stats table td.user a.love.done:hover{background:#ff4081;color:#FFF}
.stats table td.user img.pic_small{width:20px;height:auto;display:inline-block;border-radius:1000px;position:relative;top:2px;margin: 0 4px 0;}
.stats table td.user a.love, .stats table td a.date, .stats table td.user a.copy{text-decoration:none;background:#e2e2e2;border-radius:5px;padding:0 6px;margin:0 0 0 9px;font-size: 12px;}
.stats table td a.date{float:none;display:inline-block}

.navigation {float:left;margin:20px 0 0;width:100%;text-align:center}
.pagination {display:inline-block;text-align:center;margin:0 auto}
.pagination span {float:left;display:inline-block;font: 14px/33px "Quicksand",serif;margin: 0 4px 0 0;overflow: hidden;border-radius: 6px;border: 1px solid #ccc;padding: 0;width: 35px;text-align: center}
.pagination span.last a{padding:0 10px}
.pagination span a {color: #000;padding: 0;background: #f7f5f3;width: 100%;text-align: center;float: left}
.pagination span a:hover {color:#000032;background:#ffffff}
.pagination span a.highlight, .pagination span a.highlight:hover,.pagination span.current {color: #000000;cursor:default;background: rgb(196, 229, 255)}
.profile .pagination span.current{border-color:#ff558f}
.profile .pagination span a.highlight{background: #FFF;color:#ff558f;font-family:Quicksand, sans-serif}