.clear {clear:both}
.edit_profile_popup{width:660px;max-width: 660px !important}
.popup{background:#FFF;width: auto;height:auto;margin:0 auto;display: inline-block;text-align: center;position: absolute;-moz-box-shadow: 0 0 20px #181818;-webkit-box-shadow: 0 0 20px #181818;box-shadow: 0 0 20px #181818;overflow: visible;left: 50%;top: 50%;-ms-transform: translateX(-50%) translateY(-50%);-moz-transform: translateX(-50%) translateY(-50%);-webkit-transform: translateX(-50%) translateY(-50%);transform: translateX(-50%) translateY(-50%)}
.popup.text{border-left: 7px solid rgb(215, 77, 145);max-width: 400px;padding: 15px 20px 40px;width: 100%}
.popup h3.main_title_middle{background: #FFF;height: auto;border: 0;margin: 0;font-size: 2em;line-height: 2em;border-bottom: 0;padding: 20px;color: #333;text-align: center;font: normal 18px/22px LatoBlack, sans-serif;}
.popup h3.main_title_middle span{color: #333}
/*.imagePreviewContainer{position: relative;width: 100%;overflow:hidden}*/
/*.imagePreviewContainer img{float:none;position:absolute !important}*/
.leftCornerPreview{z-index:99;position: absolute;left: 0px;top: 0px;width: 220px;height: 100%;background-color: #000;filter: alpha(opacity=50);filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);-moz-opacity: .5;opacity: .5}
.rightCornerPreview{z-index:99;position: absolute;right: 0px;top: 0px;width: 220px;height: 100%;background-color: #000;filter: alpha(opacity=50);filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);-moz-opacity: .5;opacity: .5}
.topCornerPreview{background-color: #000;height: 52px;left: 220px;position: absolute;top: 0;width: 220px;z-index: 99;filter: alpha(opacity=50);filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);-moz-opacity: .5;opacity: .5}
.bottomCornerPreview{z-index:99;position: absolute;left: 220px;bottom: 0px;width:220px;height:52.5px;background-color: #000;filter: alpha(opacity=50);filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);-moz-opacity: .5;opacity: .5}
.dark_gr{background: #3f3f3f; /* Old browsers */  background: -moz-linear-gradient(left,  #3f3f3f 0%, #111111 63%, #131313 100%); /* FF3.6+ */  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#3f3f3f), color-stop(63%,#111111), color-stop(100%,#131313)); /* Chrome,Safari4+ */  background: -webkit-linear-gradient(left,  #3f3f3f 0%,#111111 63%,#131313 100%); /* Chrome10+,Safari5.1+ */  background: -o-linear-gradient(left,  #3f3f3f 0%,#111111 63%,#131313 100%); /* Opera 11.10+ */  background: -ms-linear-gradient(left,  #3f3f3f 0%,#111111 63%,#131313 100%); /* IE10+ */  background: linear-gradient(to right,  #3f3f3f 0%,#111111 63%,#131313 100%); /* W3C */  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f3f3f', endColorstr='#131313',GradientType=1 ); /* IE6-9 */}
.popup_controls{padding: 0;background: #fff;margin: 20px 0 0 0;text-align:center}
.popup_controls *, .popup_controls input.send{font-family: inherit;background: none;cursor: pointer;display: inline-block;margin: 15px 1%;outline: none;position: relative;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;color: #fff;overflow:hidden;background: #2196f3;font-size: 1rem;border: 0;padding: 7px 14px;z-index: 1;border-radius: 5px;float:none}
.popup_controls *:hover, .popup_controls input.send:hover{}
.popup_controls button:last-child{background: #1f2b35;}
.popup_controls button:hover{color:#FFF;opacity:.5}
.popup .buts .but{float:none}